:root{

--teal:#005b73;
--orange:#f79400;

}


body{

margin:0;

font-family:Arial, sans-serif;

color:#333;

line-height:1.7;

}




header{

background:white;

padding:15px 8%;

box-shadow:0 2px 10px #ddd;

}



.nav{

display:flex;

justify-content:space-between;

align-items:center;

}



.logo{

display:flex;

align-items:center;

gap:15px;

}



.logo img{

width:80px;

}



.logo h2{

color:var(--teal);

}




.menu a{

color:var(--teal);

text-decoration:none;

margin:15px;

font-weight:bold;

}




.hero{


background:

linear-gradient(
rgba(0,91,115,.75),
rgba(0,91,115,.75)
),

url("images/banner.jpg");

background-size:cover;

background-position:center;


height:500px;


display:flex;

flex-direction:column;

justify-content:center;

align-items:center;


text-align:center;

color:white;

padding:20px;

}



.hero h1{

font-size:50px;

}



.button{


background:var(--orange);

color:white;

padding:14px 30px;

border-radius:30px;

text-decoration:none;

font-weight:bold;

}




section{

padding:60px 10%;

text-align:center;

}



h2{

color:var(--teal);

font-size:35px;

}



#about{

background:#f7faf9;

}





.cards{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:25px;

}




.card{

width:280px;

padding:20px;

background:white;

border-radius:15px;

box-shadow:0 5px 15px #ddd;

border-top:5px solid var(--orange);

}



.card img{

width:100%;

height:160px;

object-fit:cover;

border-radius:10px;

}



.card h3{

color:var(--teal);

}





.verse{

background:var(--teal);

color:white;

}


.verse h2{

color:white;

}



footer{

background:#003b4a;

color:white;

text-align:center;

padding:20px;

}




@media(max-width:700px){


.nav{

flex-direction:column;

}


.hero h1{

font-size:32px;

}


}
